<div class="row">
	<div class="col-md-6 offset-3 alert alert-danger text-center">
		<h2>您無權訪問此頁面</h2>
		<p>請點選下面按鈕回到主頁</p>
		<hr />
		<p>
			<a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success"> 電影列表</a>
		</p>
	</div>
</div>